html, body, #root {
    height: 100%;
}

body {
    padding-top: 56px;
}

.link-white {
    color: white !important;
}

.link-white:hover {
    color: #ced4da !important;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}